<input class='none list-id' type="text" name="" value="{{listID}}">
<input class="list-title" type="text" name="" value="{{listTitle}}">
<ol id="movies">
  <li>
  <div class="card">
    <span class="helper"></span><img class="poster" src="{{movie.poster}}" alt="">
      <h1 class="movie-title">{{movie.title}}</h1>
      <ul class="tech-info">
        <li>{{movie.rated}} •</li>
        <li>{{movie.year}} •</li>
        <li>{{movie.runtime}}</li>
      </ul>
      <div class="reviews">
        <img class="tomatoes" src="http://www.abryant.co/movie_images/tomato.png" alt=""><span>{{movie.rotten}}</span>
        <img class="imdb" src="http://www.abryant.co/movie_images/star.png" alt=""><span>{{movie.imdb}}</span>
      </div>
      <div class="plot">
        <p>{{movie.plot}}</p>
      </div>
      <div class="actors">
        <p>{{movie.actors}}</p>
      </div>
      <div class="director">
        <p><span class="director-label">Director:</span> {{movie.director}}</p>
      </div>
    </div>
  </li>
</ol>



    <form id="input-form">
      <input type="text" name="imdb-url" placeholder="Paste IMDB url here to add movie">
      <button>Add Movie</button>
    </form>
